<style>
    #wrap {
      width: 1000px;
    }

    #content {
      width: 936px;
        
        float: right;
        background-color:#fff;
        padding: 20px;
        margin: 10px;
        border-width:2px;
        border-style:solid;
        border-color: #999;
    }
</style>

<div id="wrap">
  <%= render :partial => "/layouts/header" %>

  <div id="content">

    <p id="notice"><%= notice %></p>

    <p>
      Your order number is:
      <b><%= @order.id %></b>
    </p>

    <p>
      Details of your order were sent to your email address.
    </p>

    <p>
      You can see details of your order in My Orders in the top of the page.
    </p>
  </div>
</div>