/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body,
html {
	margin:0;
	padding:0;
	background-color:#f0eadb;
}

#header {
	width: 976px;
	height: 130px;
	margin: 10px;
	border-width:2px;
    border-style:solid;
    border-color: #999;
    float: left;
    background-color:#fff;
}

#categories {
	width: 156px;
    height: 400px;
    float: left;
    border-width:2px;
    border-style:solid;
    border-color: #999;
    margin: 10px;
    padding: 10px;
    clear: both; 
    background-color:#fff;
}

#logotype {
	width: 400px;
    height: 110px;
    margin: 0px;
    padding: 0px;
    float: left;
}

#rightheader {
    width: 520px;
    height: 110px;
    margin: 0px;
    float: right;
    padding:0px;
}

#information {
	width: 520px;
    height: 70px;
    margin: 0px;
    text-align: left;
    padding:0px;
}

#shoppingcartbuttoncontainer
{
    width: 520px;
    height: 60px;
    margin: 0px;
    text-align: left;
    padding:0px;
}

#shoppingcartbutton
{
    width: 200px;
    height: 20px;
    margin: 0px;
    text-align: center;
    padding:5px;
    background-color:#f0eadb;
    border-width:2px;
    border-style:solid;
    border-color: #999;
    display:block;
    text-decoration: none;
}

.requiredfield
{
    color:red;
}