<%-# implementation of the design item 1 ­ All store pages -%>
<%-# draws the categories side menu -%>

<div id="categories">
	<h5>Categories:</h5>
	<% categories.each do |category| %>
		<%= link_to category.title, storefront_path(:category_id => category.id) %>
        </br>
	<% end %>
</div>