<%-# implementation of the design item 1 ­ All store pages -%>
<%-# draws the header with the logotypes and the login information -%>

<div id="header">
	<div id="logotype">
		<%= link_to image_tag("logo_small.png"), storefront_path %>
        <%= link_to image_tag("dismas_designs_logo.jpeg"), storefront_path %>
	</div>
	<div id="rightheader">
		<div id="information">
			Hello guest! | My orders | Login
		</div>
		<div id="shoppingcartbuttoncontainer">
			<a id="shoppingcartbutton" href="<%= shoppingcart_path %>"><%= pluralize(@howmuchitems, "item") %> in the Shopping Cart</a>
		</div>
	</div>
</div>