<%-# draws the header with the logotypes and the login information -%>

<div id="header">
	<div id="logotype">
		<%= link_to image_tag("logo_small.png"), storefront_path %>
        <%= link_to image_tag("dismas_designs_logo.jpeg"), storefront_path %>
	</div>
	<div id="information">
		Hello guest! | My orders | Login
	</div>
</div>